body {
  text-align: center;
}

p#current-score {
    margin: 20px;
}

.score-block {
    border: solid 1px;
    border-color: #9d9d9d;
    border-radius: 12px;
    padding: 5px 30px;
    margin-top: 35px;
    height: 80px;
}

#boy {
  background: url('../images/char-boy-copy.png') no-repeat;
}

#girl {
  background: url('../images/char-cat-girl-copy.png') no-repeat;
}

.player {
  width: 70px;
  height: 80px;
  margin: 10px;
}
    
.glyphicon-heart{
  color: red;
  font-size: 40px;
}
  
.heart-block {
  border: solid 1px;
  border-color: #9d9d9d;
  border-radius: 12px;
  padding: 5px 30px;
  margin-top: 35px;
  height: 80px;
}
  
#game {
  display: none;
}

#game,span{
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

#game-over {
 display: none;
}