hr {
	border-top: 4px solid #7d97ad;
}

.title {
	text-transform: uppercase;
}

.logo {
	height: 80px;
    margin-top: 35px;
}

h1 {
	font-size: 4.5em;
    font-weight: lighter;
}

h2 {
	color: #7d97ad;
	font-weight: 400;
}

h3 {
	color: #2d3c49;
	text-transform: uppercase;
}

span {
	font-size: 1.4em;
}

@media screen and (max-width: 650px){
	h1 {
		font-size: 3em;
	    font-weight: lighter;
	}

	.logo {
    height: 80px;
    margin-top: 20px;
	}
}

@media screen and (max-width: 440px){
	h1 {
		font-size: 2.5em;
	    font-weight: lighter;
	}

	.logo {
	height: 60px;
    margin-top: 20px;
	}
}

@media screen and (max-width: 370px){
	h1 {
		font-size: 2em;
	    font-weight: lighter;
	}

	span {
		font-size: 1em;
	}
}